.post-content .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.post-content .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}

.post-content .anchor:focus {
    outline: none;
}

.post-content h1::before,
.post-content h2::before,
.post-content h3::before,
.post-content h4::before,
.post-content h5::before,
.post-content h6::before {
    content: "#";
    padding-right: 10px;
    color: #3C8593;
}

.post-content h1 .octicon-link,
.post-content h2 .octicon-link,
.post-content h3 .octicon-link,
.post-content h4 .octicon-link,
.post-content h5 .octicon-link,
.post-content h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.post-content h1:hover .anchor,
.post-content h2:hover .anchor,
.post-content h3:hover .anchor,
.post-content h4:hover .anchor,
.post-content h5:hover .anchor,
.post-content h6:hover .anchor {
    text-decoration: none;
}

.post-content h1:hover .anchor .octicon-link,
.post-content h2:hover .anchor .octicon-link,
.post-content h3:hover .anchor .octicon-link,
.post-content h4:hover .anchor .octicon-link,
.post-content h5:hover .anchor .octicon-link,
.post-content h6:hover .anchor .octicon-link {
    visibility: visible;
}

.post-content {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    letter-spacing: 1px;
}

.post-content .pl-c {
    color: #6a737d;
}

.post-content .pl-c1,
.post-content .pl-s .pl-v {
    color: #005cc5;
}

.post-content .pl-e,
.post-content .pl-en {
    color: #6f42c1;
}

.post-content .pl-s .pl-s1,
.post-content .pl-smi {
    color: #24292e;
}

.post-content .pl-ent {
    color: #22863a;
}

.post-content .pl-k {
    color: #d73a49;
}

.post-content .pl-pds,
.post-content .pl-s,
.post-content .pl-s .pl-pse .pl-s1,
.post-content .pl-sr,
.post-content .pl-sr .pl-cce,
.post-content .pl-sr .pl-sra,
.post-content .pl-sr .pl-sre {
    color: #032f62;
}

.post-content .pl-smw,
.post-content .pl-v {
    color: #e36209;
}

.post-content .pl-bu {
    color: #b31d28;
}

.post-content .pl-ii {
    background-color: #b31d28;
    color: #fafbfc;
}

.post-content .pl-c2 {
    background-color: #d73a49;
    color: #fafbfc;
}

.post-content .pl-c2:before {
    content: "^M";
}

.post-content .pl-sr .pl-cce {
    color: #22863a;
    font-weight: 700;
}

.post-content .pl-ml {
    color: #735c0f;
}

.post-content .pl-mh,
.post-content .pl-mh .pl-en,
.post-content .pl-ms {
    color: #005cc5;
    font-weight: 700;
}

.post-content .pl-mi {
    color: #24292e;
    font-style: italic;
}

.post-content .pl-mb {
    color: #24292e;
    font-weight: 700;
}

.post-content .pl-md {
    background-color: #ffeef0;
    color: #b31d28;
}

.post-content .pl-mi1 {
    background-color: #f0fff4;
    color: #22863a;
}

.post-content .pl-mc {
    background-color: #ffebda;
    color: #e36209;
}

.post-content .pl-mi2 {
    background-color: #005cc5;
    color: #f6f8fa;
}

.post-content .pl-mdr {
    color: #6f42c1;
    font-weight: 700;
}

.post-content .pl-ba {
    color: #586069;
}

.post-content .pl-sg {
    color: #959da5;
}

.post-content .pl-corl {
    color: #032f62;
    text-decoration: underline;
}

.post-content details {
    display: block;
}

.post-content summary {
    display: list-item;
}

.post-content a {
    background-color: transparent;
}

.post-content a:active,
.post-content a:hover {
    outline-width: 0;
}

.post-content strong {
    font-weight: inherit;
    font-weight: bolder;
}

.post-content h1 {
    font-size: 2em;
    margin: .67em 0;
}

.post-content img {
    border-style: none;
    border-radius: 5px;
    max-width: 100%;
}

.post-content code,
.post-content kbd,
.post-content pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.post-content hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.post-content input {
    font: inherit;
    margin: 0;
}

.post-content input {
    overflow: visible;
}

.post-content [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.post-content * {
    box-sizing: border-box;
}

.post-content input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.post-content a {
    color: #0366d6;
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

.post-content strong {
    font-weight: 600;
}

.post-content hr {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
}

.post-content hr:before {
    content: "";
    display: table;
}

.post-content hr:after {
    clear: both;
    content: "";
    display: table;
}

.post-content table {
    border-collapse: collapse;
    border-spacing: 0;
}

.post-content td,
.post-content th {
    padding: 0;
}

.post-content details summary {
    cursor: pointer;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-bottom: 0;
    margin-top: 0;
}

.post-content h1 {
    font-size: 32px;
}

.post-content h1,
.post-content h2 {
    font-weight: 600;
}

.post-content h2 {
    font-size: 24px;
}

.post-content h3 {
    font-size: 20px;
}

.post-content h3,
.post-content h4 {
    font-weight: 600;
}

.post-content h4 {
    font-size: 16px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h5,
.post-content h6 {
    font-weight: 600;
}

.post-content h6 {
    font-size: 12px;
}

.post-content p {
    margin-bottom: 10px;
    margin-top: 0;
}

.post-content blockquote {
    margin: 0;
}

.post-content ol,
.post-content ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.post-content ol ol,
.post-content ul ol {
    list-style-type: lower-roman;
}

.post-content ol ol ol,
.post-content ol ul ol,
.post-content ul ol ol,
.post-content ul ul ol {
    list-style-type: lower-alpha;
}

.post-content dd {
    margin-left: 0;
}

.post-content code,
.post-content pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
}

.post-content pre {
    margin-bottom: 0;
    margin-top: 0;
}

.post-content input::-webkit-inner-spin-button,
.post-content input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.post-content .border {
    border: 1px solid #e1e4e8 !important;
}

.post-content .border-0 {
    border: 0 !important;
}

.post-content .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
}

.post-content .rounded-1 {
    border-radius: 3px !important;
}

.post-content .bg-white {
    background-color: #fff !important;
}

.post-content .bg-gray-light {
    background-color: #fafbfc !important;
}

.post-content .text-gray-light {
    color: #6a737d !important;
}

.post-content .mb-0 {
    margin-bottom: 0 !important;
}

.post-content .my-2 {
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

.post-content .pl-0 {
    padding-left: 0 !important;
}

.post-content .py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.post-content .pl-1 {
    padding-left: 4px !important;
}

.post-content .pl-2 {
    padding-left: 8px !important;
}

.post-content .py-2 {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.post-content .pl-3,
.post-content .px-3 {
    padding-left: 16px !important;
}

.post-content .px-3 {
    padding-right: 16px !important;
}

.post-content .pl-4 {
    padding-left: 24px !important;
}

.post-content .pl-5 {
    padding-left: 32px !important;
}

.post-content .pl-6 {
    padding-left: 40px !important;
}

.post-content .f6 {
    font-size: 12px !important;
}

.post-content .lh-condensed {
    line-height: 1.25 !important;
}

.post-content .text-bold {
    font-weight: 600 !important;
}

.post-content:before {
    content: "";
    display: table;
}

.post-content:after {
    clear: both;
    content: "";
    display: table;
}

.post-content>:first-child {
    margin-top: 0 !important;
}

.post-content>:last-child {
    margin-bottom: 0 !important;
}

.post-content a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.post-content blockquote,
.post-content dl,
.post-content ol,
.post-content p,
.post-content pre,
.post-content table,
.post-content ul {
    margin-bottom: 16px;
    margin-top: 0;
}

.post-content hr {
    background-color: #6a7380;
    border: 0;
    height: 1px;
    margin: 24px 0;
    padding: 0;
}

.post-content blockquote {
    border-left: 0.25em solid #798ba9;
    color: #798ba9;
    padding: 0 1em;
    margin-left: 13px;
}

.post-content blockquote>:first-child {
    margin-top: 0;
}

.post-content blockquote>:last-child {
    margin-bottom: 0;
}

.post-content kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

.post-content h1 {
    font-size: 2em;
}

.post-content h1,
.post-content h2 {
    padding-bottom: .3em;
}

.post-content h2 {
    font-size: 1.5em;
}

.post-content h3 {
    font-size: 1.25em;
}

.post-content h4 {
    font-size: 1em;
}

.post-content h5 {
    font-size: .875em;
}

.post-content h6 {
    color: #6a737d;
    font-size: .85em;
}

.post-content ol,
.post-content ul {
    padding-left: 2em;
}

.post-content ol ol,
.post-content ol ul,
.post-content ul ol,
.post-content ul ul {
    margin-bottom: 0;
    margin-top: 0;
}

.post-content li {
    word-wrap: break-all;
}

.post-content li>p {
    margin-top: 16px;
}

.post-content li+li {
    margin-top: .25em;
}

.post-content dl {
    padding: 0;
}

.post-content dl dt {
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    margin-top: 16px;
    padding: 0;
}

.post-content dl dd {
    margin-bottom: 16px;
    padding: 0 16px;
}

.post-content table {
    display: block;
    overflow: auto;
    width: 100%;
}

.post-content table th {
    font-weight: 600;
}

.post-content table td,
.post-content table th {
    border: 1px solid #6b6b6b;
    padding: 6px 13px;
}

.post-content table tr {
    border-top: 1px solid #c6cbd1;
}

.post-content table tr:nth-child(2n) {
}

.post-content img {
    box-sizing: content-box;
    max-width: 100%;
}

.post-content img[align=right] {
    padding-left: 20px;
}

.post-content img[align=left] {
    padding-right: 20px;
}

.post-content code {
    margin: 0;
    padding: 0.2em 0.4em;
    color: #fff;
    vertical-align: text-top;
}

.post-content pre {
    word-wrap: normal;
    border-radius: 3px;
}


.post-content .commit-tease-sha {
    color: #444d56;
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 90%;
}

.post-content .blob-wrapper {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;
}

.post-content .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
}

.post-content .blob-num {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: rgba(27, 31, 35, .3);
    cursor: pointer;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 20px;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 1%;
}

.post-content .blob-num:hover {
    color: rgba(27, 31, 35, .6);
}

.post-content .blob-num:before {
    content: attr(data-line-number);
}

.post-content .blob-code {
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    vertical-align: top;
}

.post-content .blob-code-inner {
    color: #24292e;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px;
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
}

.post-content .pl-token.active,
.post-content .pl-token:hover {
    background: #ffea7f;
    cursor: pointer;
}

.post-content kbd {
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    display: inline-block;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

.post-content :checked+.radio-label {
    border-color: #0366d6;
    position: relative;
    z-index: 1;
}

.post-content .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
}

.post-content .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
}

.post-content .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
}

.post-content .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
}

.post-content .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
}

.post-content .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
}

.post-content .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
}

.post-content .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
}

.post-content .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
}

.post-content .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
}

.post-content .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
}

.post-content .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
}

.post-content .task-list-item {
    list-style-type: none;
}

.post-content .task-list-item+.task-list-item {
    margin-top: 3px;
}

.post-content .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
}

.post-content hr {
    border-bottom-color: #eee;
}

.post-content .pl-0 {
    padding-left: 0 !important;
}

.post-content .pl-1 {
    padding-left: 4px !important;
}

.post-content .pl-2 {
    padding-left: 8px !important;
}

.post-content .pl-3 {
    padding-left: 16px !important;
}

.post-content .pl-4 {
    padding-left: 24px !important;
}

.post-content .pl-5 {
    padding-left: 32px !important;
}

.post-content .pl-6 {
    padding-left: 40px !important;
}

.post-content .pl-7 {
    padding-left: 48px !important;
}

.post-content .pl-8 {
    padding-left: 64px !important;
}

.post-content .pl-9 {
    padding-left: 80px !important;
}

.post-content .pl-10 {
    padding-left: 96px !important;
}

.post-content .pl-11 {
    padding-left: 112px !important;
}

.post-content .pl-12 {
    padding-left: 128px !important;
}


.highlight{
    width: 100%;
    margin-left: 0px;
}