<div class="hd logodiv">
    <%- image_tag('img/monstro_resize.png',{class: 'logopng'}) %>
    <p class="logot"><span class="logo_1">&lt;</span><span class="logo_2">/ </span><span class="logo_3">#</span> <%= theme.logo_title %> <span class="logo_3">#</span><span class="logo_2"> /</span><span class="logo_1">&gt;</span></p>
    <p><%= config.description %></p>
</div>
<%- partial('_partial/nav') %>
<div class="hd">
    <% var last; %>
    <% page.posts.each(function (post) { %>
        <% var year = post.date.year(); %>
        <% if (last != year){ %>
            <div class="titlex">
                <p><span class="jing">#</span>
                    <%= year %>
                </p>
            </div>
            <% last = year; %>
        <% } %>
        <a class="flink" href="<%- url_for(post.path) %>">
            <div class="list">
                <div class="postname">
                    <%= post.title %>
                </div>
                <div class="posttime">
                    <%- full_date(post.date, 'MMM DD') %>
                </div>
            </div>
        </a>
    <% }) %>
</div>